<title>睿达鲜汇首页</title>
<div class="topbar" >
    <form class="form-search">
        <div id="divSearch" class="row" style="width:100%">
            <div class="col-xs-3">
                <select class="" style="width:100%;font-size: 1rem;" >
                    <span class="glyphinco glyphicon-search"></span>
                    <option value="prod">商品</option>
                    <option value="come">产地</option>
                </select></div>
            <div class="col-xs-7"><input id="txtSearch" type="text" placeholder="搜索关键字" class="input-large search-query" style="width:100%"  ></div>
            <div class="col-xs-1"><button type="submit" class="btn btn-link"  ><span class="glyphicon glyphicon-search"></span></button></div>


        </div>
    </form>
</div>
<div class="page_content" >
    <div id="banner">
        <img src="img/banner.png" />
    </div>
    <div class="areaheader">当季流行</div>
    <div class="mobile-featured-carousel">
        <ul class="mobile-featured-collections clearfix">
            <li ng-repeat="prod in mainSvcData.hotProdList"  class="mobile-featured-collection">
                <a ng-href="#/prodinfo/{{prod.prod_id}}">
                    <div class="prodcard-big container">
                        <div class="prodimg row">
                            <img class="img-rounded" ng-src="img/prod/{{prod.main_img_src}}"/></div>
                        <div class="row">
                            <div class="prodname col-xs-12">{{prod.prod_name}}</div>
                        </div>
                        <div class="row">
                            <div class="prodprice col-xs-6">{{prod.prod_price|currency}}&nbsp;{{prod.prod_price_unit}}</div>
                            <div class="prodsold col-xs-6">已售出&nbsp;{{prod.prod_sold}}</div>
                        </div>

                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="areaheader">最新上架</div>
    <div class="prodlist container" >
        <div class="row" style="width:100%">
            <!-- 产品列表 -->
            <div ng-repeat="prod in mainSvcData.newProdList" class="prodcard col-lg-2 col-md-3 col-sm-4 col-xs-6 container">
                <a ng-href="#/prodinfo/{{prod.prod_id}}">
                    <div class="prodimg row">
                        <div class="prodname col-xs-12"><img class="img-rounded" ng-src="img/prod/{{prod.main_img_src}}"/></div>
                    </div>
                    <div class="row">
                        <div class="prodname col-xs-12">{{prod.prod_name}}</div>
                    </div>
                    <div class="row">
                        <div class="prodprice col-xs-6">{{prod.prod_price|currency}}&nbsp;{{prod.prod_price_unit}}</div>
                        <div class="prodsold col-xs-6">已售出&nbsp;{{prod.prod_sold}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="footerarea">
        本页面由睿达鲜汇提供
    </div>
</div>
<nav id="bottomnavbar" class="navbar navbar-default navbar-fixed-bottom navbar-inverse" style="margin-left:0;margin-right:0">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 footer-nav-item"><a href="#fav"><span class="glyphicon glyphicon-star"></span></a></div>
            <div class="col-xs-4 footer-nav-item"><a href="#shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span></a></div>
            <div class="col-xs-4 footer-nav-item"><a href="#user"><span class="glyphicon glyphicon-user"></span></a></div>
        </div>
    </div>
</nav>